*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
html {
    height:100%;
  }
  
  body {
    margin:0;
  }
  
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  .content {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
  }
  
  h1 {
    font-family:monospace;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }
  
  .loginform .btn a{
  text-decoration: none;
  color: white;
}
.loginform .btn{
  height: 40px;
  width: 160px;
}
  /* togglebar */

  #update{
    display: none;
  }
/* .admin-board{
  height: 60px;
  width: 100%;
  background-color: black;
}
.admin-board h2{
  color: white;
  padding-top: 7px;
}
.admin-board .btn{
  text-align: end;
} */

.admin-text h3{
  font-size: 40px;
}
.admin-text{
  height: 80px;
  width: 100%;
  background-color: black;
  color: white;
  padding: 10px;
}
/* .admin-text .btn{
  display: flex;
  justify-content: flex-start;
} */
  
